<h1>Mock Hacker News Website<h1>
<hr>

 why don't you work
<ul>
    <%@links.order(order: :desc) .each do |l| %>
        <li><%= link_to l.name, link_path(l) %></li>
    <% end %>
</ul>

<hr>

<button class="new hide_buttons btn-default">New Link</button>

<%= render("form") %>

